{% extends 'main/main.html' %}
{% block content %}
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  sroll-nav-wrap -->
                        <div class="sroll-nav-wrap">
                            <div class="sroll-nav-container">
                                <nav class="scroll-nav scroll-init fl-wrap">
                                    <ul>
                                        <li><a class="scroll-link act-scrlink" href="#serv1">01.<span>О проекте</span></a></li>
                                        <li><a class="scroll-link" href="#serv2">02.<span>Расположение</span></a></li>
                                        <li><a class="scroll-link" href="#serv3">03.<span>Архитектура</span></a></li>
                                        <li><a class="scroll-link" href="#serv4">04.<span>Квартиры</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--  sroll-nav-wrap end   -->
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true" id="serv1">
                            <div class="bg"  data-bg="static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>Новый жилой комплекс в Сочи</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>О проекте</h2>
                                    <p>Удачное расположение жилых домов комплекса<br> в центральном районе г. Сочи</p>
                                    <a href="#serv2" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
                        <section   data-scrollax-parent="true" >
                            <div class="container">
                                <div class="section-container  fl-wrap">
                                    <!--serv-item end -->
                                    <div class="serv-item fl-wrap" id="serv2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="pr-title">
                                                    Расположение
                                                    <span>Расположение и инфраструктура района рядом с ЖК "Гранд Парк" </span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="content-wrap about-wrap">
                                                    <div class="blog-media fl-wrap">
                                                        <div class="box-item">
                                                            <img  src="static/images/bg/bg3.jpg"  class="respimg" alt="">
                                                            <div class="overlay"></div>
                                                            <a href="static/images/bg/bg3.jpg" class="image-popup popup-image"><i class="fa fa-search"  ></i></a>
                                                        </div>
                                                    </div>
                                                    <h3 class="bold-title">Расположение и инфраструктура</h3>
                                                    <p>Благоустроенный район с развитой инфраструктурой: рядом с жилым комплексом находятся магазины, школы, детские сады, ТЦ «Новая заря». Рядом находится остановка общественного транспорта.
                                                    </p>
                                                    <ul class="pr-list">
                                                        <li><span>01.</span> В 300 М (вблизи) ОТ КОМПЛЕКСА ПРОХОДИТ ТРАНСПОРТНАЯ МАГИСТРАЛЬ Г. СОЧИ – ДУБЛЕР КУР. ПРОСПЕКТА, ПО КОТОРОЙ МОЖНО ДОБРАТЬСЯ ДО ЛЮБОГО РАЙОНА Г. СОЧИ БЕЗ ПРОБОК.</li>
                                                        <li><span>02.</span> 38 минут (36 км) до международного аэропорта Сочи </li>
                                                        <li><span>03.</span> 26 МИНУТ (6,3 КМ) ДО ЖЕЛЕЗНОДОРОЖНОГО ВОКЗАЛА СОЧИ </li>
                                                        <li><span>04.</span> 2 КМ ДО МОРЯ: ПЛЯЖ “САЛЮТ”, ПЛЯЖ “ФАЗАТРОН”</li>
                                                    </ul>
                                                    <div class="serv-price-wrap">
                                                        <span>Цена</span>
                                                        от 85 000 р/м²
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <span class="bold-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--serv-item end -->
                                    <!--serv-item end -->
                                    <div class="serv-item fl-wrap" id="serv3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="pr-title">
                                                    Архитектура
                                                    <span>Информация о корпусах комплекса "Гранд Парк" </span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="content-wrap about-wrap">
                                                    <div class="blog-media fl-wrap">
                                                        <div class="box-item">
                                                            <img  src="static/images/bg/bg4.jpg" class="respimg"  alt="">
                                                            <div class="overlay"></div>
                                                            <a href="static/images/bg/bg4.jpg" class="image-popup popup-image"><i class="fa fa-search"  ></i></a>
                                                        </div>
                                                    </div>
                                                    <h3 class="bold-title">Краткая информация о жилых домах комплекса </h3>
                                                    <p>Современный жилой комплекс бизнес-класса «Гранд Парк» – это два 12-этажных монолитных жилых дома, с большим количеством парковочных мест
                                                    на преддомовой благоустроенной территории.
                                                    </p>
                                                    <ul class="pr-list">
                                                        <li><span>01.</span> Инженерные сети</li>
                                                        <li><span>02.</span> Лифты </li>
                                                        <li><span>03.</span> Придомовая территория </li>
                                                        <li><span>04.</span> Парковочные места</li>
                                                    </ul>
                                                    <div class="serv-price-wrap">
                                                        <span>Цена</span>
                                                        от 85 000 р/м²
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <span class="bold-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--serv-item end -->
                                    <!--serv-item end -->
                                    <div class="serv-item fl-wrap" id="serv4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="pr-title">
                                                    Квартиры
                                                    <span>О квартирах в жилой комплексе "Гранд Парк" </span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="content-wrap about-wrap">
                                                    <div class="blog-media fl-wrap">
                                                        <div class="box-item">
                                                            <img  src="static/images/bg/bg2.jpg" class="respimg"   alt="">
                                                            <div class="overlay"></div>
                                                            <a href="static/images/bg/bg2.jpg" class="image-popup popup-image"><i class="fa fa-search"  ></i></a>
                                                        </div>
                                                    </div>
                                                    <h3 class="bold-title">Квартиры площадью от 19 м²</h3>
                                                    <p>Квартиры с предчистовой отделкой от 19 до 56 м².
                                                    </p>
                                                    <ul class="pr-list">
                                                        <li><span>01.</span> Высота потолков - 2,8 м</li>
                                                        <li><span>02.</span>  Сети подведены </li>
                                                        <li><span>03.</span> Балконы </li>
                                                        <li><span>04.</span> Пластиковые окна и металлические двери</li>
                                                    </ul>
                                                    <div class="serv-price-wrap">
                                                        <span>Цена</span>
                                                        от 85 000 р/м²
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <span class="bold-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--serv-item end -->
                                </div>
                                <div class="order-item fl-wrap">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-5">
                                            <h3>Вам понравилось предложение? </h3>
                                        </div>
                                        <div class="col-md-3"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Связаться с нами</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-box fl-wrap"></div>
                            <!--  partcile-dec-->
                            <div class="partcile-dec" data-parcount="200"></div>
                            <!--  partcile-dec  end-->
                        </section>
                        <!--  section  end-->
                    </div>
                    <!--  content  end-->

{% endblock %}