{% extends 'main/main.html' %}
{% block content %}
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>Разрешительная документация</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>Документы</h2>
                                    <p>Документация и информация о застройщике</p>
<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
                        <section >
                            <div class="container">
                                <div class="contact-details-wrap fl-wrap" id="sec1">
                                    <div class="row">
                                    <div class="col-md-8">
                                     <h2 class="bold-title">Документы</h2>
<p>
<ul class="pr-list">
                                                        <li><span>01.</span> Договор долевого участия (образец)</li>
                                                        <li><span>02.</span> Разрешение на строительство </li>
                                                        <li><span>03.</span> Проектная декларация </li>
                                                        <li><span>04.</span> Заключение госэкспертизы проектной документации</li>
                                                        <li><span>05.</span> Положительное заключение негосударственной экспертизы проекта от 06.03.2018 г.</li>
                                                        <li><span>06.</span> Аудиторское заключение за 2018 г</li>
                                                        <li><span>07.</span> Договор аренды земельного участка</li>
                                                        <li><span>08.</span> ПРОМИНСТРАХ Генеральный договор Дом 1</li>
                                                        <li><span>09.</span> ПРОМИНСТРАХ Генеральный договор Дом 2</li>
                                                        <li><span>10.</span> Генеральный договор страхования гражданской ответственности Застройщика</li>
                                                    </ul>
</p>
<p>
    Ипотечное кредитование позволяет решить жилищный вопрос уже сейчас, а не ждать, когда накопится необходимая сумма. К тому же, при покупке недвижимости в ипотеку, ЖК «Гранд Парк» дарит покупателям единовременную скидку.
</p>
<h2 class="bold-title">Застройщик (о компании)</h2>

<p style="text-align: right;">“Мы горды тем, что делаем все на совесть!<br>
Соблюдаем все законы, регламенты и нормы, <br>
строим так, как строили бы для себя. Когда наши <br>
клиенты через полгода жмут руки и говорят “спасибо”<br>
 - мы знаем, что старались не зря!</p>
<p style="text-align: right;">Надежда Максимова<br>
<b>Генеральный директор</b></p>
<p>ООО “Рента Инвест”<br>
ИНН 2320225462, КПП 232001001, ОГРН 1142366013855, ОКПО 26570025<br>
Р/С 40702810310553000001 Филиал №2351 ВТБ 24(ПАО)<br>
в Южное в ГУ Банка России К/С 30101810900000000585 БИК 040349585<br>
Р/С 40702810302050000224 Операционный офис в городе Сочи<br>
Ф-ла АКБ "ФОРА-БАНК" (АО) в г. Ростов-на-Дону<br>
К/С 30101810900000000312 в РКЦ г. Азов ГУ ЦБ РФ по Ростовской области БИК 046029312<br></p>

<p>Генеральный директор ООО “Рента Инвест”: Максимова Надежда Викторовна
354000, Россия, Краснодарский край, город Сочи, улица Гагарина 23а
Главный архитектор проекта: Ф.И. Афуксениди (ООО “Бюро архитектурно-строительного проектирования “АС про”)</p>

<p>Застройщик ООО “Рента Инвест” состоит в едином реестре застройщиков
<a style="color:#3fa99e;" href="https://erzrf.ru/zastroyschiki/6867678001?organizationId=6867678001&region=vse-regiony&regionKey=0&notInSale=true&costType=1">erzrf.ru</a></p>

<p>В 2018 году мы завершили продажи квартир в жилом комплексе <a style="color:#3fa99e;" href="http://zhkgrandsochi.ru/">“Гранд”</a> по адресу: ул. Пасечная, 47.</p>



<div class="row">
<div class="col-md-4"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Обратный звонок</a></div>
<div class="col-md-8"><h3 class="pr-subtitle"> Закажите обратный звонок, наши менеджеры подберут подходящий вариант квартиры и предоставят документы.</h3></div>
</div>

</div>
                                    <div class="col-md-4"><div class="box-item">
                                                <img src="static/images/bg/bg5.jpg" class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/bg/bg5.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                    </div>
                     </div></div></div>
                    </section>

                    </div>
                    <!-- content end -->
{% endblock %}