{% extends 'main/main.html' %}
{% block content %}
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>СДАЧА ОБЪЕКТА 4 кв. 2019г.</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>Ход строительства</h2>
                                    <p>Этапы строительства ЖК "Гранд Парк"</p>
<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
<section id="sec1" class="current2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Ход строительства
                                            <span>Этапы строительства жилого комплекса </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-inner-holder">
                                    <!-- 1 -->
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3>Декабрь 2018</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Подготовительные работы</h4>
                                                <p>Начались подготовительные работы на месте строительства Гранд парк (Тимирязева, 34 Б), которые продолжились по графику и в ноябре. Стройплощадка уже огорожена, там ведется испытание грунтов на несущую нагрузку, вбиты пробные сваи. Всего было забурено 10 кустов опытных свай («куст» – это пять свай, скрепленных между собой в верхней части). </p>

                                                <span class="custom-inner-dec"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 1 -->
                                    <!-- 2 -->
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3>Ноябрь 2018</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Подготовительные работы</h4>
                                                <p>Начались подготовительные работы на месте строительства Гранд парк (Тимирязева, 34 Б), которые продолжились по графику и в ноябре. Стройплощадка уже огорожена, там ведется испытание грунтов на несущую нагрузку, вбиты пробные сваи. Всего было забурено 10 кустов опытных свай («куст» – это пять свай, скрепленных между собой в верхней части). </p>
<div class="gallery-items  for-coulms" id="sec2">
                                    <!-- 1 -->
                                    <div class="gallery-item houses apartments">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                                <img src="static/images/etapi/raboty1.jpg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/etapi/raboty1.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 1 end -->
                                    <!-- 2 -->
                                    <div class="gallery-item houses interior">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                                <img src="static/images/etapi/raboty1.jpg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/etapi/raboty1.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 2 end -->
                                    <!-- 3 -->
                                    <div class="gallery-item  apartments interior">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                                <img src="static/images/etapi/raboty1.jpg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/etapi/raboty1.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 3 end -->
                                    <!-- 4 -->
                                    <div class="gallery-item  interior design">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                                <img src="static/images/etapi/raboty1.jpg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/etapi/raboty1.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 4 end -->
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 2 end -->
                                    <!-- 3 -->
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3>Октябрь 2018</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Подготовительные работы</h4>
                                                <p>Начались подготовительные работы на месте строительства Гранд парк (Тимирязева, 34 Б), которые продолжились по графику и в ноябре. Стройплощадка уже огорожена, там ведется испытание грунтов на несущую нагрузку, вбиты пробные сваи. Всего было забурено 10 кустов опытных свай («куст» – это пять свай, скрепленных между собой в верхней части). </p>
                                                <span class="custom-inner-dec"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 3 end -->
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <a href="#" class="btn float-btn flat-btn">ЗОС на этапы строительства ЖК "Гранд Парк"</a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <!-- content end -->
{% endblock %}