{% extends 'main/main.html' %}
{% block content %}
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="/static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>СДАЧА ОБЪЕКТА 4 кв. 2022г.</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>Ход строительства</h2>
                                    <p>Этапы строительства ЖК "Гранд Парк"</p>
<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
<section id="sec1" class="current2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Ход строительства
                                            <span>Этапы строительства жилого комплекса </span>
                                        </div>
                                    </div>
                                </div>
                                                                <div class="custom-inner-holder">
                                    <!-- 1 -->
                                    {% for post in  tpost %}
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3>{{ post.date_sozd }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>{{ post.nazv }}</h4>
                                                <p>{{ post.text }} </p>
                                        {% if post.pict1 %}
                                            <div class="gallery-item houses apartments">
                                        <div class="grid-item-holder">
                                            <div class="box-item"><img src="{{ MEDIA_URL }}{{ post.pict1 }}">
                                            <div class="overlay"></div>
                                                <a href="{{ MEDIA_URL }}{{ post.pict1 }}" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        {% if post.pict2 %}
                                        <div class="gallery-item houses apartments">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                                <img src="{{ MEDIA_URL }}{{ post.pict2 }}">
                                                <div class="overlay"></div>
                                                <a href="{{ MEDIA_URL }}{{ post.pict2 }}" class="image-popup popup-image"><i class="fa fa-search"></i></a>

                                            </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        {% if post.pict3 %}
                                        <div class="gallery-item houses apartments">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                            <img src="{{ MEDIA_URL }}{{ post.pict3 }}">
                                            <div class="overlay"></div>
                                                <a href="{{ MEDIA_URL }}{{ post.pict3 }}" class="image-popup popup-image"><i class="fa fa-search"></i></a>

                                            </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                        {% if post.pict4 %}
                                        <div class="gallery-item houses apartments">
                                        <div class="grid-item-holder">
                                            <div class="box-item">
                                            <img src="{{ MEDIA_URL }}{{ post.pict4 }}">
                                            <div class="overlay"></div>
                                                <a href="{{ MEDIA_URL }}{{ post.pict4 }}" class="image-popup popup-image"><i class="fa fa-search"></i></a>

                                            </div>
                                            </div>
                                            </div>
                                        {% endif %}
                                                <span class="custom-inner-dec"></span>
                                            </div>
                                        </div>
                                    </div>
{% if user.is_authenticated %}
    <a href="{% url 'blog:hodstedit' idd=post.pk %}" class="share-icon">Редактировать</a>
{% endif %}
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <a href="#" class="btn float-btn flat-btn">ЗОС на этапы строительства ЖК "Гранд Парк"</a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <!-- content end -->

{% endblock %}
