{% extends 'main/main.html' %}
{% block content %}
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>Новостройка в Сочи в ипотеку</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>Ипотека от 6%</h2>
                                    <p>Самые выгодные предложения от банков России</p>
<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
                        <section >
                            <div class="container">
                                <div class="contact-details-wrap fl-wrap" id="sec1">
                                    <div class="row">
                                    <div class="col-md-8">
                                     <h2 class="bold-title">Ипотека</h2>
<p>
Ипотека – это возможность улучшить жилищные условия и стать владельцем недвижимости в Сочи.
</p>
<p>
    Ипотечное кредитование позволяет решить жилищный вопрос уже сейчас, а не ждать, когда накопится необходимая сумма. К тому же, при покупке недвижимости в ипотеку, ЖК «Гранд Парк» дарит покупателям единовременную скидку.
</p>
<h2 class="bold-title">Банки-партнеры</h2>
<p>
    ЖК «Гранд Парк» сотрудничает с крупнейшими российскими банками и позволяет всегда подбирать для вас лучшие условия кредитования. Ипотечные программы банков предусматривают максимально выгодные условия по ставкам, срокам и графикам внесения платежей.
</p>
<div class="row">
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-sber.jpg" class="respimg" alt="">
    {{ st.sber_proc }} / {{ st.sber_vznos }} / {{ st.sber_srok }}
</a>
</div>
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-vtb.jpg" class="respimg" alt="">
    {{ st.vtb_proc }} / {{ st.vtb_vznos }} / {{ st.vtb_srok }}
</a>
</div>
</div>
<div class="row">
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-alfa.jpg" class="respimg" alt="">
    {{ st.alfa_proc }} / {{ st.alfa_vznos }} / {{ st.alfa_srok }}
</a>
</div>
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-gas.jpg" class="respimg" alt="">
    {{ st.gaz_proc }} / {{ st.gaz_vznos }} / {{ st.gaz_srok }}
</a>
</div>
</div>
<div class="row">
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-psb.jpg" class="respimg" alt="">
    {{ st.prom_proc }} / {{ st.prom_vznos }} / {{ st.prom_srok }}
</a>
</div>
<div class="col-md-6">
<a href="#" class="show-fixed-search vissearch"><img src="static/images/ipoteca-rsb.jpg" class="respimg" alt="">
    {{ st.sel_proc }} / {{ st.sel_vznos }} / {{ st.sel_srok }}
</a>
</div>
</div>
<div class="row">
<div class="col-md-4"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Подать заявку</a></div>
<div class="col-md-8"><h3 class="pr-subtitle"> Закажите обратный звонок, наши менеджеры помогут подобрать подходящий вариант ипотечной программы и собрать нужные документы.</h3></div>
</div>

</div>
                                    <div class="col-md-4"><div class="box-item">
                                                <img src="static/images/bg/bg5.jpg" class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/bg/bg5.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                    </div>
                     </div></div></div>
                    </section>

                    </div>
                    <!-- content end -->
{% endblock %}