{% extends 'main/main.html' %}
{% block content %}
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">
                        <!--  section  -->
                        <section class="parallax-section header-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="static/images/bg/sl1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>Для дольщиков по вопросу о ремонте квартир</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>Ремонт квартир</h2>
                                    <p>Предложение по ремонту квартир от застройщика</p>
<a href="#sec1" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>Вниз</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section  end-->
                        <!--  section  -->
                        <section >
                            <div class="container">
                                <div class="contact-details-wrap fl-wrap" id="sec1">
                                    <div class="row">
                                    <div class="col-md-8">
                                     <h2 class="bold-title">Ремонт квартир в новостройке</h2>
<p>
Просто выберите один из вариантов дизайн-проектов, подпишите соглашение о намерении заключить договор на отделку (опцион), а остальное наша компания сделает за Вас!
</p>

<div class="products fl-wrap single-prd-list">
<h3>Плюсы этого решения:</h3>
</div>
<p>
<ul class="product-opt-list fl-wrap">
<li><span>Минимум проблем.</span> Вам не придется самостоятельно искать бригаду, контролировать ход работ и тратить драгоценное время</li>
<li><span>Фиксация итоговой цены отделки на дату подписания контракта.</span> Т.е. она не изменится, несмотря на ежегодную инфляцию</li>
<li><span>Длительная отсрочка платежа</span> – основной договор подряда на выполнение отделочных работ нужно будет подписать не позднее чем за 6 месяцев до официальной сдачи дома.</li>
<li><span>Небольшой первый взнос (в размере 50 000 руб.).</span> После заключения основного договора эти деньги засчитываются в счет платежа по договору, в противном случае – не возвращаются.</li>
<li><span>Гарантированные сроки выполнения отделки  – 4 месяца.</span> При найме бригады на свободном рынке такой гарантии вы не получите.</li>
<li><span>Гарантия на отделку</span> – 12 месяцев.</li>
<li><span>Экономия на отделочных материалах - до 40%</span> - у нас прямые договора с компаниями производителями.</li>
</ul>
</p>
<div class="row">
<div class="col-md-4"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Обратный звонок</a>
<div class="clearfix"></div>
<span class="bold-separator"></span>
</div>
<div class="col-md-8"><h3 class="pr-subtitle"> Все подробности по отделке Вы можете уточнить у Вашего менеджера или заказать "Обратный звонок" на сайте. </h3></div>
</div>

</div>
                                    <div class="col-md-4">
                                        <div class="box-item">
                                                <img src="static/images/bg/bg5.jpg" class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/bg/bg5.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>
                                    </div>
                     </div></div></div>
                    </section>


                         <!--  section  -->
                        <section >
                            <div class="container">
                                <div class="contact-details-wrap fl-wrap" id="sec2">
                                    <div class="row">
                                    <div class="col-md-8">
                                     <h2 class="bold-title">Дизайн-проект «Бельгия»</h2>
<p>
Лаконичный интерьер, в оформлении которого соблюден баланс строгости и комфорта. <br>
Основная «бельгийская» палитра — нежная, мягкая, нейтральная. В интерьере преобладают мягкие кофейные тона (бежевый, кремовый, цвет слоновой кости), которые в сочетании с шоколадно-коричневыми оттенками придают интерьеру свой особый шик, наполняя дом уютом и теплом.
<br>Цвет в данном интерьере используется для создания настроения, а не для привлечения внимания к деталям.
</p>
<div class="row">
<div class="col-md-4"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Обратный звонок</a></div>
<div class="col-md-8"><h3 class="pr-subtitle"> Все подробности по отделке Вы можете уточнить у Вашего менеджера или заказать "Обратный звонок" на сайте. </h3></div>
</div>

</div>
                                    <div class="col-md-4">
                                        <div class="box-item">
                                                <img src="static/images/remont/remont-1-1-got.jpg" class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/remont/remont-1-1-got.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>



                                    </div>
                     </div>
                                    <div class="row">
                                    <div class="col-md-8">
                                     <h2 class="bold-title">Дизайн-проект «Скандинавия»</h2>
<p>
Сдержанный интерьер, содержит минимум декора и выполнен в светлых тонах из простых материалов, преимущественно спокойных тонов. <br>
В отделке преобладает белый цвет, который придает интерьеру легкость и воздушность. <br>
Общий колорит «скандинавского» интерьера — светлый, как бы акварельный, с небольшим количеством ярких акцентов и цветовых пятен. <br>
Основные черты «скандинавского дома» — минимализм, простота и экологичность.
</p>
<div class="row">
<div class="col-md-4"><a href="#" class="show-fixed-search vissearch btn float-btn flat-btn">Обратный звонок</a></div>
<div class="col-md-8"><h3 class="pr-subtitle"> Все подробности по отделке Вы можете уточнить у Вашего менеджера или заказать "Обратный звонок" на сайте. </h3></div>
</div>

</div>
                                    <div class="col-md-4">
                                        <div class="box-item">
                                                <img src="static/images/remont/remont-1-3-got.jpg" class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="static/images/remont/remont-1-3-got.jpg" class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                            </div>



                                    </div>
                     </div>



                     </div></div>
                    </section>
                         <!--  section  -->
                    </div>
{% endblock %}