{% extends 'main/main.html' %}
{% block content %}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
<style>.uk-table th {
    text-align: unset;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
text.highcharts-credits {
    display: none;
}
svg.highcharts-root {
    font-family: 'Montserrat', sans-serif !important;
}
.share-icon {
    height: 50px;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 1px;
    position: relative;
    vertical-align: bottom;
    font-size: 11px;
    line-height: unset;
    color: #222;
    font-weight: 600;
    opacity: 1;
    border-bottom: none;
}
.uk-link, a {
    color: inherit;}
.uk-table-small td, .uk-table-small th {
    background-color: #c7d2d4;
    border: 1px solid #ffffff;
    padding: 10px 5px;
    font-size: 0.92em;
}
td.Свободна {
    background: #97cc64;
}
td.Бронь {
 background: #77b6e7;
}
td.Продана {
    background: #ffd963;
}
img.shah {
    width: 200px;
    height: auto;
}
.uk-dropdown {min-width: 250px;
}
.uk-card-title {
    text-align: left;
}</style>
<!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content -->
                    <div class="content">

                        <!--  section  -->
                        <section >
                            <div class="container">
                                <div class="contact-details-wrap fl-wrap" id="sec1">
                                    <div class="row">
                                    <div class="col-md-8">
<h2 class="uk-text-left">Изменить процентные ставки банков</h2>
<div class="uk-card uk-card-default uk-card-body">
    <form class="uk-grid-small" uk-grid method="POST">{% csrf_token %}
    <div class="row">
    <div class="col-md-6">
    <table class="uk-table">
    <thead>
        <tr>
            <th>Сбербанк</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.sber_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.sber_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.sber_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    <div class="col-md-6">
        <table class="uk-table">
    <thead>
        <tr>
            <th>ВТБ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.vtb_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.vtb_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.vtb_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    </div>

        <div class="row">
    <div class="col-md-6">
    <table class="uk-table">
    <thead>
        <tr>
            <th>Альфа-банк</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.alfa_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.alfa_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.alfa_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    <div class="col-md-6">
        <table class="uk-table">
    <thead>
        <tr>
            <th>ГазПромБанк</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.gaz_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.gaz_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.gaz_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    </div>

        <div class="row">
    <div class="col-md-6">
    <table class="uk-table">
    <thead>
        <tr>
            <th>ПромсвязьБанк</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.prom_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.prom_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.prom_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    <div class="col-md-6">
        <table class="uk-table">
    <thead>
        <tr>
            <th>РоссельхозБанк</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Процентная ставка: <br>{{  tform.sel_proc }}</td>
        </tr>
        <tr>
            <td>Первый взнос: <br>{{ tform.sel_vznos }}</td>
        </tr>
        <tr>
            <td>Срок кредита: <br>{{ tform.sel_srok }}</td>
        </tr>
    </tbody>
</table>
    </div>
    </div>
<div class="clearfix"></div>
<span class="custom-inner-dec"></span>
<div class="row">
<div class="col-md-12">
<button type="submit" class="save uk-button uk-button-primary">Сохранить</button>&nbsp;
</div>
</div>

    </form>
  </div>
 </div>
                                    <div class="col-md-4"><div class="box-item">
                                                <img src="/static/images/bg/bg5.jpg" class="respimg" alt="">

                                            </div>
                                    </div>
                     </div></div></div>
                    </section>

                    </div>
                    <!-- content end -->
{% endblock %}

