{% extends 'main/main.html' %}
{% block content %}
    Change
    <li>{% if tflat.planirovka.komnat == 'Студия'  %}{{ tflat.planirovka.komnat }} {% else %}{{ tflat.planirovka.komnat }} квартира{% endif %}</li>
    <li>kvart nimb {{  tflat.kv_numb }}</li>
    <li>status kvartiri</li>
    <li>{{MEDIA_URL}}{{ tflat.planirovka.pict }}</li>
    <li><img src="{{MEDIA_URL}}{{ korp1_1etag.planirovka.pict }}"></li>
    <li>itogo cena {% widthratio tflat.planirovka.ploshad 1  tflat.cena_za_metr %}</li>
    <li>korp {{ tflat.korpus }} kvart nimb {{  tflat.kv_numb }}</li>
    {% comment %}
        <form method="POST" class="post-form">{% csrf_token %}
           Цена за метр {{  tform.cena_za_metr}}{{ tform.status }}
        <button type="submit" class="save btn btn-default">Сохранить</button>
        <input value="Отмена" type="button" onclick="location.href='/apparts'" />
    </form>
    {% endcomment %}
{% endblock %}