{% extends 'main/main.html' %}
{% block content %}

    Flats page
    </br><h1>1 Korpus:</h1></h1></<br>
    </br><strong>1 floor:</strong></<br>
{% comment %}
    1 floor
{% endcomment %}
{%  if tkorp1_1etag %}
    {% for korp1_1etag in tkorp1_1etag %}
   </br><li>kvart numb {{  korp1_1etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_1etag.vid }}</li>
        <li>kvart status {{  korp1_1etag.status }}</li>
        <li>kvart komnat {{  korp1_1etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_1etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_1etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_1etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_1etag.planirovka.ploshad 1  korp1_1etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flatsChange' idd=korp1_1etag.pk %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>2 floor:</strong></<br>
{% comment %}
    2 floor
{% endcomment %}
{%  if tkorp1_2etag %}
    {% for korp1_2etag in tkorp1_2etag %}
   </br><li>kvart numb {{  korp1_2etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_2etag.vid }}</li>
        <li>kvart status {{  korp1_2etag.status }}</li>
        <li>kvart komnat {{  korp1_2etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_2etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_2etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_2etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_2etag.planirovka.ploshad 1  korp1_2etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>3 floor:</strong></<br>
{% comment %}
    3 floor
{% endcomment %}
{%  if tkorp1_3etag %}
    {% for korp1_3etag in tkorp1_3etag %}
   </br><li>kvart numb {{  korp1_3etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_3etag.vid }}</li>
        <li>kvart status {{  korp1_3etag.status }}</li>
        <li>kvart komnat {{  korp1_3etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_3etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_3etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_3etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_3etag.planirovka.ploshad 1  korp1_3etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>4 floor:</strong></<br>
{% comment %}
    4 floor
{% endcomment %}
{%  if tkorp1_4etag %}
    {% for korp1_4etag in tkorp1_4etag %}
   </br><li>kvart numb {{  korp1_4etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_4etag.vid }}</li>
        <li>kvart status {{  korp1_4etag.status }}</li>
        <li>kvart komnat {{  korp1_4etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_4etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_4etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_4etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_4etag.planirovka.ploshad 1  korp1_4etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>5 floor:</strong></<br>
{% comment %}
    5 floor
{% endcomment %}
{%  if tkorp1_5etag %}
    {% for korp1_5etag in tkorp1_5etag %}
   </br><li>kvart numb {{  korp1_5etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_5etag.vid }}</li>
        <li>kvart status {{  korp1_5etag.status }}</li>
        <li>kvart komnat {{  korp1_5etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_5etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_5etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_5etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_5etag.planirovka.ploshad 1  korp1_5etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>6 floor:</strong></<br>
{% comment %}
    6 floor
{% endcomment %}
{%  if tkorp1_6etag %}
    {% for korp1_6etag in tkorp1_6etag %}
   </br><li>kvart numb {{  korp1_6etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_6etag.vid }}</li>
        <li>kvart status {{  korp1_6etag.status }}</li>
        <li>kvart komnat {{  korp1_6etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_6etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_6etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_6etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_6etag.planirovka.ploshad 1  korp1_6etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>7 floor:</strong></<br>
{% comment %}
    7 floor
{% endcomment %}
{%  if tkorp1_7etag %}
    {% for korp1_7etag in tkorp1_7etag %}
   </br><li>kvart numb {{  korp1_7etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_7etag.vid }}</li>
        <li>kvart status {{  korp1_7etag.status }}</li>
        <li>kvart komnat {{  korp1_7etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_7etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_7etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_7etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_7etag.planirovka.ploshad 1  korp1_7etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>8 floor:</strong></<br>
{% comment %}
    8 floor
{% endcomment %}
{%  if tkorp1_8etag %}
    {% for korp1_8etag in tkorp1_8etag %}
   </br><li>kvart numb {{  korp1_8etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_8etag.vid }}</li>
        <li>kvart status {{  korp1_8etag.status }}</li>
        <li>kvart komnat {{  korp1_8etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_8etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_8etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_8etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_8etag.planirovka.ploshad 1  korp1_8etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>9 floor:</strong></<br>
{% comment %}
    9 floor
{% endcomment %}
{%  if tkorp1_9etag %}
    {% for korp1_9etag in tkorp1_9etag %}
   </br><li>kvart numb {{  korp1_9etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_9etag.vid }}</li>
        <li>kvart status {{  korp1_9etag.status }}</li>
        <li>kvart komnat {{  korp1_9etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_9etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_9etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_9etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_9etag.planirovka.ploshad 1  korp1_9etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>10 floor:</strong></<br>
{% comment %}
    10 floor
{% endcomment %}
{%  if tkorp1_10etag %}
    {% for korp1_10etag in tkorp1_10etag %}
   </br><li>kvart numb {{  korp1_10etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_10etag.vid }}</li>
        <li>kvart status {{  korp1_10etag.status }}</li>
        <li>kvart komnat {{  korp1_10etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_10etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_10etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_10etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_10etag.planirovka.ploshad 1  korp1_10etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>11 floor:</strong></<br>
{% comment %}
    11 floor
{% endcomment %}
{%  if tkorp1_11etag %}
    {% for korp1_11etag in tkorp1_11etag %}
   </br><li>kvart numb {{  korp1_11etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_11etag.vid }}</li>
        <li>kvart status {{  korp1_11etag.status }}</li>
        <li>kvart komnat {{  korp1_11etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_11etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_11etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_11etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_11etag.planirovka.ploshad 1  korp1_11etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>12 floor:</strong></<br>
{% comment %}
    12 floor
{% endcomment %}
{%  if tkorp1_12etag %}
    {% for korp1_12etag in tkorp1_12etag %}
   </br><li>kvart numb {{  korp1_12etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_12etag.vid }}</li>
        <li>kvart status {{  korp1_12etag.status }}</li>
        <li>kvart komnat {{  korp1_12etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_12etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_12etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_12etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_12etag.planirovka.ploshad 1  korp1_12etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
        <li>Балкон</li>
            <li><a href="{% url 'doki' %}">Изменить статус или цену за метр</a></li>
        {% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
{% endblock %}