{% extends 'main/main.html' %}
{% block content %}

    Flats page
    </br><h1>1 Korpus:</h1></h1></<br>
    </br><strong>1 floor:</strong></<br>
{% comment %}
    1 floor
{% endcomment %}
{%  if tkorp1_1etag %}
    {% for korp1_1etag in tkorp1_1etag %}
   </br><li>kvart numb {{  korp1_1etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_1etag.vid }}</li>
        <li>kvart status {{  korp1_1etag.status }}</li>
        {% if korp1_1etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_1etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_1etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_1etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_1etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_1etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat  {{  korp1_1etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{MEDIA_URL}} {{  korp1_1etag.planirovka.pict }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_1etag.planirovka.pict }}"></li>
        <li>kvart ploshad {{  korp1_1etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_1etag.cena_za_metr }} </li>
        <li>itogo cena {% widthratio korp1_1etag.planirovka.ploshad 1  korp1_1etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_1etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_1etag.status == 'Бронь' and not korp1_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_1etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_1etag.status == 'Бронь' and not korp1_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_1etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_1etag.status == 'Бронь' and not korp1_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_1etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>2 floor:</strong></<br>
{% comment %}
    2 floor
{% endcomment %}
{%  if tkorp1_2etag %}
    {% for korp1_2etag in tkorp1_2etag %}
   </br><li>kvart numb {{  korp1_2etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_2etag.vid }}</li>
        <li>kvart status {{  korp1_2etag.status }}</li>
        {% if korp1_2etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_1etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_2etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_2etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_2etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_2etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_2etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_2etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_2etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_2etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_2etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_2etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_2etag.planirovka.ploshad 1  korp1_2etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_2etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_2etag.status == 'Бронь' and not korp1_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_2etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_2etag.status == 'Бронь' and not korp1_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_2etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_2etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>3 floor:</strong></<br>
{% comment %}
    3 floor
{% endcomment %}
{%  if tkorp1_3etag %}
    {% for korp1_3etag in tkorp1_3etag %}
   </br><li>kvart numb {{  korp1_3etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_3etag.vid }}</li>
        <li>kvart status {{  korp1_3etag.status }}</li>
        {% if korp1_3etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_3etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp3_1etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_3etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_3etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_3etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_3etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_3etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_3etag.planirovka.pict }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_3etag.planirovka.pict }}"></li>
        <li>kvart ploshad {{  korp1_3etag.planirovka.ploshad }}</li>
        <li>kvart cena za metr {{  korp1_3etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_3etag.planirovka.ploshad 1  korp1_3etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_3etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_3etag.status == 'Бронь' and not korp1_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_3etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_3etag.status == 'Бронь' and not korp1_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_3etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_3etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>4 floor:</strong></<br>
{% comment %}
    4 floor
{% endcomment %}
{%  if tkorp1_4etag %}
    {% for korp1_4etag in tkorp1_4etag %}
   </br><li>kvart numb {{  korp1_4etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_4etag.vid }}</li>
        <li>kvart status {{  korp1_4etag.status }}</li>
        {% if korp1_4etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_4etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_4etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_4etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_4etag.bron_date_end }}</li>
        {% endif %}
        {% if korp4_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_4etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_4etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_4etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_4etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_4etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_4etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_4etag.planirovka.ploshad 1  korp1_4etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_4etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_4etag.status == 'Бронь' and not korp1_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_4etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_4etag.status == 'Бронь' and not korp1_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_4etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_4etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>5 floor:</strong></<br>
{% comment %}
    5 floor
{% endcomment %}
{%  if tkorp1_5etag %}
    {% for korp1_5etag in tkorp1_5etag %}
   </br><li>kvart numb {{  korp1_5etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_5etag.vid }}</li>
        <li>kvart status {{  korp1_5etag.status }}</li>
        {% if korp1_5etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_5etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_5etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_5etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_5etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_5etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_5etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_5etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_5etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_5etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp5_1etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_5etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_5etag.planirovka.ploshad 1  korp1_5etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_5etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_5etag.status == 'Бронь' and not korp1_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_5etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_5etag.status == 'Бронь' and not korp1_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_5etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_5etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>6 floor:</strong></<br>
{% comment %}
    6 floor
{% endcomment %}
{%  if tkorp1_6etag %}
    {% for korp1_6etag in tkorp1_6etag %}
   </br><li>kvart numb {{  korp1_6etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_6etag.vid }}</li>
        <li>kvart status {{  korp1_6etag.status }}</li>
        {% if korp1_6etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_6etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_6etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_6etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_6etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_6etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp6_1etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_6etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_6etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_6etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_6etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_6etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_6etag.planirovka.ploshad 1  korp1_6etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_6etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_6etag.status == 'Бронь' and not korp1_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_6etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_6etag.status == 'Бронь' and not korp1_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_6etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_6etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>7 floor:</strong></<br>
{% comment %}
    7 floor
{% endcomment %}
{%  if tkorp1_7etag %}
    {% for korp1_7etag in tkorp1_7etag %}
   </br><li>kvart numb {{  korp1_7etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_7etag.vid }}</li>
        <li>kvart status {{  korp1_7etag.status }}</li>
        {% if korp1_7etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_7etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_7etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_7etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_7etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_7etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_7etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_7etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_7etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_7etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_7etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_7etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_7etag.planirovka.ploshad 1  korp1_7etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_7etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_7etag.status == 'Бронь' and not korp1_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_7etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_7etag.status == 'Бронь' and not korp1_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_7etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_7etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>8 floor:</strong></<br>
{% comment %}
    8 floor
{% endcomment %}
{%  if tkorp1_8etag %}
    {% for korp1_8etag in tkorp1_8etag %}
   </br><li>kvart numb {{  korp1_8etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_8etag.vid }}</li>
        <li>kvart status {{  korp1_8etag.status }}</li>
        {% if korp1_8etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_8etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_8etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_8etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_8etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_8etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_8etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_8etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_8etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_8etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_8etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_8etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_8etag.planirovka.ploshad 1  korp1_8etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_8etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_8etag.status == 'Бронь' and not korp1_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_8etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_8etag.status == 'Бронь' and not korp1_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_8etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_8etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>9 floor:</strong></<br>
{% comment %}
    9 floor
{% endcomment %}
{%  if tkorp1_9etag %}
    {% for korp1_9etag in tkorp1_9etag %}
   </br><li>kvart numb {{  korp1_9etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_9etag.vid }}</li>
        <li>kvart status {{  korp1_9etag.status }}</li>
        {% if korp1_9etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_9etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_9etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_9etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_9etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_9etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_9etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_9etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_9etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_9etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_9etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_9etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_9etag.planirovka.ploshad 1  korp1_9etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_9etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_9etag.status == 'Бронь' and not korp1_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_9etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_9etag.status == 'Бронь' and not korp1_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_9etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_9etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>10 floor:</strong></<br>
{% comment %}
    10 floor
{% endcomment %}
{%  if tkorp1_10etag %}
    {% for korp1_10etag in tkorp1_10etag %}
   </br><li>kvart numb {{  korp1_10etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_10etag.vid }}</li>
        <li>kvart status {{  korp1_10etag.status }}</li>
        {% if korp1_10etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_10etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_10etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_10etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_10etag.bron_date_end }}</li>
        {% endif %}
        {% if korp10_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp10_1etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_10etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_10etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_10etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_10etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_10etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_10etag.planirovka.ploshad 1  korp1_10etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_10etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_10etag.status == 'Бронь' and not korp1_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_10etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_10etag.status == 'Бронь' and not korp1_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_10etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_10etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>11 floor:</strong></<br>
{% comment %}
    11 floor
{% endcomment %}
{%  if tkorp1_11etag %}
    {% for korp1_11etag in tkorp1_11etag %}
   </br><li>kvart numb {{  korp1_11etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_11etag.vid }}</li>
        <li>kvart status {{  korp1_11etag.status }}</li>
        {% if korp11_1etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_11etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_11etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp11_1etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp11_1etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_11etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_11etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_11etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_11etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_11etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_11etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_11etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_11etag.planirovka.ploshad 1  korp1_11etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_11etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_11etag.status == 'Бронь' and not korp1_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_11etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_11etag.status == 'Бронь' and not korp1_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_11etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_11etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>12 floor:</strong></<br>
{% comment %}
    12 floor
{% endcomment %}
{%  if tkorp1_12etag %}
    {% for korp1_12etag in tkorp1_12etag %}
   </br><li>kvart numb {{  korp1_12etag.kv_numb }}</li>
        <li>kvart vid na {{  korp1_12etag.vid }}</li>
        <li>kvart status {{  korp1_12etag.status }}</li>
        {% if korp1_12etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp1_12etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp1_12etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp1_12etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp1_12etag.bron_date_end }}</li>
        {% endif %}
        {% if korp1_12etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp1_12etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp1_12etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp1_12etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_12etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp1_12etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp1_12etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp1_12etag.planirovka.ploshad 1  korp1_12etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp1_12etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp1_12etag.status == 'Бронь' and not korp1_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp1_12etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp1_12etag.status == 'Бронь' and not korp1_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp1_12etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp1_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp1_12etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
 </br><h1>2 Korpus:</h1></h1></<br>
    </br><strong>1 floor:</strong></<br>
{% comment %}
    1 floor
{% endcomment %}
{%  if tkorp2_1etag %}
    {% for korp2_1etag in tkorp2_1etag %}
   </br><li>kvart numb {{  korp2_1etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_1etag.vid }}</li>
        <li>kvart status {{  korp2_1etag.status }}</li>
        {% if korp2_1etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_1etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_1etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_1etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_1etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_1etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_1etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_1etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp1_2etag.planirovka.ploshad }}</li>
         <li><img src="{{MEDIA_URL}}{{ korp2_1etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_1etag.cena_za_metr }} </li>
        <li>itogo cena {% widthratio korp2_1etag.planirovka.ploshad 1  korp2_1etag.cena_za_metr %}</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_1etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_1etag.status == 'Бронь' and not korp2_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_1etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_1etag.status == 'Бронь' and not korp2_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_1etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_1etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_1etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>2 floor:</strong></<br>
{% comment %}
    2 floor
{% endcomment %}
{%  if tkorp2_2etag %}
    {% for korp2_2etag in tkorp2_2etag %}
   </br><li>kvart numb {{  korp2_2etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_2etag.vid }}</li>
        <li>kvart status {{  korp2_2etag.status }}</li>
        {% if korp2_2etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_2etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_2etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_2etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_2etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_2etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_2etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_2etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_2etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_2etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_2etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_2etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_2etag.planirovka.ploshad 1  korp2_2etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_2etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_2etag.status == 'Бронь' and not korp2_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_2etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_2etag.status == 'Бронь' and not korp2_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_2etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_2etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_2etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>3 floor:</strong></<br>
{% comment %}
    3 floor
{% endcomment %}
{%  if tkorp2_3etag %}
    {% for korp2_3etag in tkorp2_3etag %}
   </br><li>kvart numb {{  korp2_3etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_3etag.vid }}</li>
        <li>kvart status {{  korp2_3etag.status }}</li>
        {% if korp2_3etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_3etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_3etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_3etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_3etag.bron_date_end }}</li>
        {% endif %}
        {% if korp3_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_3etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_3etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_3etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_3etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_3etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_3etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_3etag.planirovka.ploshad 1  korp2_3etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_3etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_3etag.status == 'Бронь' and not korp2_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_3etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_3etag.status == 'Бронь' and not korp2_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_3etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_3etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_3etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>4 floor:</strong></<br>
{% comment %}
    4 floor
{% endcomment %}
{%  if tkorp2_4etag %}
    {% for korp2_4etag in tkorp2_4etag %}
   </br><li>kvart numb {{  korp2_4etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_4etag.vid }}</li>
        <li>kvart status {{  korp2_4etag.status }}</li>
        {% if korp2_4etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_4etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_4etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_4etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_4etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_4etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_4etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_4etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_4etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_4etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_4etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_4etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_4etag.planirovka.ploshad 1  korp2_4etag.cena_za_metr %}</li>
         <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_4etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_4etag.status == 'Бронь' and not korp2_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_4etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_4etag.status == 'Бронь' and not korp2_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_4etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_4etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_4etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>5 floor:</strong></<br>
{% comment %}
    5 floor
{% endcomment %}
{%  if tkorp2_5etag %}
    {% for korp2_5etag in tkorp2_5etag %}
   </br><li>kvart numb {{  korp2_5etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_5etag.vid }}</li>
        <li>kvart status {{  korp2_5etag.status }}</li>
        {% if korp2_5etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_5etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_5etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_5etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_5etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_5etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_5etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_5etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_5etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_5etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_5etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_5etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_5etag.planirovka.ploshad 1  korp2_5etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_5etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_5etag.status == 'Бронь' and not korp2_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_5etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_5etag.status == 'Бронь' and not korp2_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_5etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_5etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_5etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>6 floor:</strong></<br>
{% comment %}
    6 floor
{% endcomment %}
{%  if tkorp2_6etag %}
    {% for korp2_6etag in tkorp2_6etag %}
   </br><li>kvart numb {{  korp2_6etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_6etag.vid }}</li>
        <li>kvart status {{  korp2_6etag.status }}</li>
        {% if korp2_6etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_6etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_6etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_6etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_6etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_6etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_6etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_6etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_6etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_6etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_6etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_6etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_6etag.planirovka.ploshad 1  korp2_6etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_6etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_6etag.status == 'Бронь' and not korp2_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_6etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_6etag.status == 'Бронь' and not korp2_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_6etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_6etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_6etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>7 floor:</strong></<br>
{% comment %}
    7 floor
{% endcomment %}
{%  if tkorp2_7etag %}
    {% for korp2_7etag in tkorp2_7etag %}
   </br><li>kvart numb {{  korp2_7etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_7etag.vid }}</li>
        <li>kvart status {{  korp2_7etag.status }}</li>
        {% if korp2_7etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_7etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_7etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_7etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_7etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_7etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_7etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_7etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_7etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_7etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_7etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_7etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_7etag.planirovka.ploshad 1  korp2_7etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_7etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_7etag.status == 'Бронь' and not korp2_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_7etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_7etag.status == 'Бронь' and not korp2_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_7etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_7etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_7etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>8 floor:</strong></<br>
{% comment %}
    8 floor
{% endcomment %}
{%  if tkorp2_8etag %}
    {% for korp2_8etag in tkorp2_8etag %}
   </br><li>kvart numb {{  korp2_8etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_8etag.vid }}</li>
        <li>kvart status {{  korp2_8etag.status }}</li>
        {% if korp2_8etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_8etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_8etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_8etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_8etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_8etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_8etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_8etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_8etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_8etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_8etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_8etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_8etag.planirovka.ploshad 1  korp2_8etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_8etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_8etag.status == 'Бронь' and not korp2_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_8etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_8etag.status == 'Бронь' and not korp2_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_8etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_8etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_8etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>9 floor:</strong></<br>
{% comment %}
    9 floor
{% endcomment %}
{%  if tkorp2_9etag %}
    {% for korp2_9etag in tkorp2_9etag %}
   </br><li>kvart numb {{  korp2_9etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_9etag.vid }}</li>
        <li>kvart status {{  korp2_9etag.status }}</li>
        {% if korp2_9etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_9etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_9etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_9etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_9etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_9etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_9etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_9etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_9etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_9etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_9etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_9etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_9etag.planirovka.ploshad 1  korp2_9etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_9etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_9etag.status == 'Бронь' and not korp2_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_9etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_9etag.status == 'Бронь' and not korp2_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_9etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_9etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_9etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>10 floor:</strong></<br>
{% comment %}
    10 floor
{% endcomment %}
{%  if tkorp2_10etag %}
    {% for korp2_10etag in tkorp2_10etag %}
   </br><li>kvart numb {{  korp2_10etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_10etag.vid }}</li>
        <li>kvart status {{  korp2_10etag.status }}</li>
        {% if korp2_10etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_10etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_10etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_10etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_10etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_10etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_10etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_10etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_10etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_10etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_10etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_10etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_10etag.planirovka.ploshad 1  korp2_10etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_10etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_10etag.status == 'Бронь' and not korp2_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_10etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_10etag.status == 'Бронь' and not korp2_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_10etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_10etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_10etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>11 floor:</strong></<br>
{% comment %}
    11 floor
{% endcomment %}
{%  if tkorp2_11etag %}
    {% for korp2_11etag in tkorp2_11etag %}
   </br><li>kvart numb {{  korp2_11etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_11etag.vid }}</li>
        <li>kvart status {{  korp2_11etag.status }}</li>
        {% if korp2_11etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_11etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_11etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_11etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_11etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_11etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_11etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_11etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_11etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_11etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_11etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_11etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_11etag.planirovka.ploshad 1  korp2_11etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_11etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_11etag.status == 'Бронь' and not korp2_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_11etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_11etag.status == 'Бронь' and not korp2_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_11etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_11etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_11etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}
    </br><strong>12 floor:</strong></<br>
{% comment %}
    12 floor
{% endcomment %}
{%  if tkorp2_12etag %}
    {% for korp2_12etag in tkorp2_12etag %}
   </br><li>kvart numb {{  korp2_12etag.kv_numb }}</li>
        <li>kvart vid na {{  korp2_12etag.vid }}</li>
        <li>kvart status {{  korp2_12etag.status }}</li>
        {% if korp2_12etag.status == 'Продана' and user.is_authenticated %}
            <li>канал продаж {{ korp2_12etag.canal_prodagi }}</li>
        {% endif %}
        {% if korp2_12etag.status == 'Бронь' and user.is_authenticated %}
            <li>Дата внесения брони {{ korp2_12etag.bron_date_start }}</li>
            <li>Дата окончания брони {{ korp2_12etag.bron_date_end }}</li>
        {% endif %}
        {% if korp2_1etag.status == 'Продана' and user.is_authenticated %}
            <li>Дата сделки {{ korp2_1etag.sdelka_date }}</li>
        {% endif %}
        <li>kvart komnat {{  korp2_12etag.planirovka.komnat }}</li>
        <li>kvart planirovka {{  korp2_12etag.planirovka.pict }}</li>
        <li>kvart ploshad {{  korp2_12etag.planirovka.ploshad }}</li>
        <li><img src="{{MEDIA_URL}}{{ korp2_12etag.planirovka.pict }}"></li>
        <li>kvart cena za metr {{  korp2_12etag.cena_za_metr }}</li>
        <li>itogo cena {% widthratio korp2_12etag.planirovka.ploshad 1  korp2_12etag.cena_za_metr %}</li>
        <li>Балкон</li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'flats:flatsChange' idd=korp2_12etag.pk %}">Изменить цену за метр или статус кв.</a></li>
            {%  if not korp2_12etag.status == 'Бронь' and not korp2_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsBron' idd=korp2_12etag.pk %}">Бронь</a></li>{% endif %}
            {%  if not korp2_12etag.status == 'Бронь' and not korp2_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsSdelka' idd=korp2_12etag.pk %}">Сделка</a></li>{% endif %}
        {% endif %}
            {%  if not korp2_12etag.status == 'Продана'  %}<li><a href="{% url 'flats:flatsZayavBron' idd=korp2_12etag.pk %}">Заявка на бронь</a></li>{% endif %}
        ------------------------------------------------
    {% endfor %}
{% endif %}

{% endblock %}